h2 {
  font-family: 'Bangers';
  font-size: 30px;
  color: #E3001B; }

p {
  font-family: 'Bangers';
  font-size: 20px;
  color: #E3001B; }

#map {
  width: 500px;
  height: 400px; }

.contactForm {
  background-color: #91caff;
  height: 360px;
  border-radius: 10px; }
  .contactForm h2 {
    margin-left: 10px; }
  .contactForm p {
    color: #FCF06A;
    margin-left: 20px; }

body {
  background-color: black; }

.container.Top {
  width: 100%;
  height: 130px;
  border-bottom: 2px dotted #2B99FF; }

.bannerTop img {
  width: 100%;
  height: 128px;
  opacity: 0.8; }

.logoCircle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 40px;
  background-color: #2B99FF;
  border-radius: 50%;
  border: 10px dashed white;
  z-index: 40; }
  .logoCircle img {
    width: 250px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -50px;
    transform: rotate(-15deg);
    z-index: 6; }

.logoRectangle {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 55px; }
  .logoRectangle h2 {
    position: absolute;
    bottom: -20px;
    right: -55px; }
  .logoRectangle p {
    font-style: italic;
    font-size: 20px;
    position: absolute;
    bottom: -20px;
    right: -205px; }

.Main {
  margin-top: 65px;
  margin-left: 150px; }

.Comics, .Characters, .Contact {
  height: 350px;
  background-color: white;
  border-radius: 5px;
  margin-left: 20px; }

.upperContent {
  height: 300px; }

.lowerContent {
  text-align: center;
  background-color: #91caff;
  border-radius: 5px; }
  .lowerContent h2 {
    color: white; }

.comicIMGone, .comicIMGtwo, .comicIMGthree {
  border-right: 3px dotted #E3001B;
  height: 100%;
  top: 2px; }

.comicIMGthree {
  border-right: none; }

.charaIMGone, .charaIMGtwo, .charaIMGthree {
  border-right: 3px dotted #E3001B;
  height: 100%;
  top: 2px; }

.charaIMGthree {
  border-right: none; }

.contactIMG img {
  color: #E3001B;
  height: 200px;
  margin-left: 36px;
  margin-top: 40px;
  width: 200px; }
