h2 {
  font-family: 'Bangers';
  font-size: 30px;
  color: #E3001B; }

p {
  font-family: 'Bangers';
  font-size: 20px;
  color: #E3001B; }

#map {
  width: 500px;
  height: 400px; }

.sideMenu li {
  padding-top: 10px; }

.contactForm {
  background-color: white;
  height: 360px;
  border-radius: 5px;
  margin-left: 15px; }
  .contactForm h2 {
    margin-left: 10px;
    color: #E3001B; }
  .contactForm p {
    color: #2B99FF;
    margin-left: 20px; }

.charaContent div {
  height: 300px; }
  .charaContent div img {
    max-height: 200px;
    width: 100%; }
  .charaContent div .dropdown {
    height: auto;
    padding: 20px;
    margin-top: -7px; }
    .charaContent div .dropdown h3 {
      font-size: 23px; }

.description, .series {
  margin-top: 10px;
  font-size: 10px; }

.contentAPI {
  height: 200px;
  border-radius: 5px;
  margin-left: 10px; }

.dropdown {
  display: none;
  text-align: center;
  background-color: #2B99FF;
  border-radius: 0px 0px 5px 5px;
  z-index: 99; }
  .dropdown .description {
    height: auto;
    padding-bottom: 10px; }
  .dropdown h2 {
    color: white; }
  .dropdown h3 {
    color: #E3001B;
    font-family: "Bangers";
    font-size: 40px;
    margin-top: none; }
  .dropdown p {
    color: white;
    font-size: 20px; }

.clicker {
  height: 480px; }
  .clicker img {
    height: 60%;
    width: 100%; }
  .clicker .dropdown {
    height: auto;
    padding: 10px;
    color: white;
    font-size: 16px; }
    .clicker .dropdown h3 {
      font-size: 23px; }

body {
  background-color: black; }

.container.Top {
  width: 100%;
  height: 130px;
  border-bottom: 2px dotted #2B99FF; }

.bannerTop img {
  width: 100%;
  height: 128px;
  opacity: 0.8; }

.logoCircle {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 40px;
  background-color: #2B99FF;
  border-radius: 50%;
  border: 10px dashed #FCF06A;
  z-index: 40; }
  .logoCircle img {
    width: 250px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -50px;
    transform: rotate(-15deg);
    z-index: 6; }

.logoRectangle {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 55px; }
  .logoRectangle h2 {
    position: absolute;
    bottom: -20px;
    right: -55px; }
  .logoRectangle p {
    font-style: italic;
    font-size: 20px;
    position: absolute;
    bottom: -20px;
    right: -205px; }

.sideMenu {
  height: 200px;
  width: 230px;
  background-color: #FCF06A;
  border-radius: 5px; }
  .sideMenu ul {
    padding-left: 0; }
  .sideMenu li {
    font-size: 25px;
    font-family: 'Bangers';
    display: block; }
    .sideMenu li :hover {
      background-color: #E3001B;
      text-decoration: none; }

.quote {
  height: 200px;
  width: 230px;
  background-color: white;
  border-radius: 5px;
  margin-left: -15px; }
  .quote .upperQuote {
    background-color: #5eb2ff;
    margin-left: 0px;
    width: 230px; }
    .quote .upperQuote h2 {
      font-size: 20px;
      margin-left: 15px;
      margin-top: 12px; }
  .quote .lowerQuote {
    margin-top: 20px;
    margin-left: 5px; }
    .quote .lowerQuote p {
      font-size: 9px;
      color: #2B99FF; }

.Main {
  margin-top: 65px;
  margin-left: 20px; }

.Comics, .Characters, .Contact {
  height: 350px;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px; }

.upperContent {
  height: 300px; }

.lowerContent {
  text-align: center;
  background-color: #91caff;
  border-radius: 0px 0px 5px 5px; }
  .lowerContent h2 {
    color: white; }

.comicIMGone img {
  border-radius: 5px 5px 0px 0px;
  height: 300px;
  margin-left: -15px;
  width: 293px; }

.charaIMGone img {
  border-radius: 5px 5px 0px 0px;
  height: 300px;
  margin-left: -15px;
  width: 293px; }

.contactIMG img {
  color: #E3001B;
  height: 150px;
  margin-left: 23%;
  margin-top: 25%;
  width: 150px; }
