.charaContent {

	div {
		height:300px;

		img{
			max-height: 200px;
			width:100%;
		}
		.dropdown {
			height:auto;
			padding:20px;
			margin-top: -7px;
			h3{
				font-size: 23px;
			}
		}
	}
}

.description, .series {
	margin-top:10px;
	font-size: 10px;
}

.contentAPI {
	height:200px;
	border-radius:5px;
	margin-left:10px;

}

.dropdown {
	display:none;
	text-align:center;
	background-color:$tertiaryColor;
	border-radius:0px 0px 5px 5px;
	z-index: 99;

	.description {
		height:auto;
		padding-bottom:10px;
	}

	h2 {
		color:white;
	}
	h3{
		color:$primaryColor;
		font-family: "Bangers";
		font-size: 40px;
		margin-top:none;
	}
	p{
		color:white;
		font-size:20px;
	}
}