.clicker {
	height:480px;
	img{
		height:60%;
		width:100%;
	}
	.dropdown {
			height:auto;
			padding:10px;
			//margin-top: -5px;
			color:white;
			font-size: 16px;
			h3{
				font-size: 23px;
			}
		}
}