#map {
        width: 500px;
        height: 400px;
}

.sideMenu {
	li {
		padding-top: 10px;
	}
}


.contactForm {
	background-color:white;
	height:360px;
	border-radius:5px;
	margin-left:15px;

	h2 {
		margin-left: 10px;
		color:$primaryColor;
	}

	p {
		color:$tertiaryColor;
		margin-left: 20px;
	}
}
