$primaryColor: #E3001B;

$secondaryColor: #FCF06A;

$tertiaryColor: #2B99FF;

@import "text";

@import "contact";

body {
	background-color:black;
}

.container.Top {
	width:100%;
	height:130px;
	border-bottom:2px dotted $tertiaryColor;
}

.bannerTop img {
	width:100%;
	height: 128px;
	opacity:0.8;
}

.logoCircle {
  width:150px;
  height:150px;
  position:absolute;
  top:10px;
  left:40px;
  background-color:$tertiaryColor;
  border-radius:50%;
  border:10px dashed $secondaryColor;
  z-index:40;
  
  img {
    width:250px;
    height:150px;
    position:absolute;
    top:-10px;
    left:-50px;
    transform:rotate(-15deg);
    z-index:6;
  }
}

.logoRectangle {
  width:300px;
  height:150px;
  position:absolute;
  top:10px;
  left:55px;
  
  h2 {
  position:absolute;
  bottom:-20px;
  right:-55px;
  }

  p {
  font-style: italic;
  font-size: 20px;
  position:absolute;
  bottom:-20px;
  right:-205px;
  }
}

.quote {
	height:200px;
	width:260px;
	background-color:white;
	left:-10px;
	border-radius:5px;

	.upperQuote {
		background-color:lighten($secondaryColor,10);

		h2 {
			font-size: 20px;
			margin-left: 10px;
		}
	}

	.lowerQuote {
		margin-top: 20px;
		margin-left: 5px;

		p   {
		font-size: 9px;
		color:$tertiaryColor;
		}
	}
}

.Main {
	margin-top:65px;
	margin-left:20px;
}

.Comics, .Characters, .Contact {
	height:350px;
	background-color:white;
	border-radius:5px;
	margin-left:10px;
}

.upperContent {
	height:300px;

}

.lowerContent {
	text-align:center;
	background-color:lighten($tertiaryColor,20);
	border-radius:0px 0px 5px 5px;

	h2 {
		color:white;
	}
}

.comicIMGone {

	img {
	border-radius:5px 5px 0px 0px;
	height: 300px;
    margin-left: -15px;
    width: 293px;
	}
}

.charaIMGone {

	img {
	border-radius:5px 5px 0px 0px;
	height: 300px;
    margin-left: -15px;
    width: 293px;
	}
}

.contactIMG img {
	color:$primaryColor;
	height: 150px;
    margin-left: 23%;
    margin-top: 25%;
    width: 150px;
}