.charaContent {

	div {
		height:300px;
		margin-top:15px;
		img{
			max-height: 200px;
			width:100%;
		}
		.dropdown {
			height:auto;
			padding:20px;
			margin-top: -7px;
		}
	}
}

.contentAPI {
	height:200px;
	border-radius:5px;
	margin-left:10px;

}

.dropdown {
	display:none;
	text-align:center;
	background-color:$tertiaryColor;
	border-radius:0px 0px 5px 5px;

	h2 {
		color:white;
	}
}